body {
    .red {
        color: red;
    }
}

/** override tailwind settings so it won't break chartistry charts */
.widget-chart svg {
    display: initial;
    vertical-align: initial;
}

/** dark mode for datepicker */
.dark {
    .datepicker {
        .datepicker-picker {
            background-color: #1f2937;
            color: #fff;
            border: 1px solid #666;

            .datepicker-controls .button {
                align-items: center;
                background-color: #1f2937;
                border: 1px solid #1f2937;
                color: #eee;
            }

            .datepicker-controls .button:hover {
                background-color: #3f4957;
            }

            .datepicker-footer {
                background-color: #1f2937;
                box-shadow: none;
            }

            .datepicker-cell.disabled {
                color: #444;
            }

            .datepicker-cell:not(.disabled):hover {
                background-color: #3f4957;
                cursor: pointer;
            }

            .datepicker-cell.next:not(.disabled),
            .datepicker-cell.prev:not(.disabled) {
                color: #aaa;
            }

            .datepicker-cell.focused:not(.selected) {
                background-color: #4f5967;
            }

            .datepicker-cell.selected,
            .datepicker-cell.selected:hover {
                background-color: #3273dc;
                color: #fff;
                font-weight: 600;
            }

            .days-of-week {
                color: #aaa;
            }
        }
    }
}